@media screen and (min-width: 768px) and (max-width: 992px) {
    
    main {
        background-image: linear-gradient(to bottom, rgb(81, 17, 201), rgb(0, 110, 212));
    }

    section#login {
        width: 80vw;
    }

    div.img {
        display: block;
        float: right;
    }

    div.forms {
        display: block;
        float: left;
    }
}